* {
    /* '*' added so these things will be applicable to all html elements */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lora', serif;
}

.logo {
    font-family: 'Amita', cursive;
    font-size: 200%;
    font-weight: bolder;
    color: rgba(122, 11, 11, 0.849);
}

.search {
    width: 450px;
    display: flex; 
   
}
.search-box {
    width: 100%;
    height: 40px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid black;
    text-transform: capitalize;
    background: none;
    color: #494949;
    outline: none;
}

.search-btn {
    width: 20%;
    height: 40px;
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #383838;
    color: #fff;
    text-transform: capitalize;
    font-size: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.search-box::placeholder {
    color: #494949;
}

.navbar {
    /* position: sticky  */
    display: flex;
    align-items: center;
    /* padding: 5px; */
    text-align: center;
    background-color: black;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 150%;
    font-weight: 200px;
}

.link {
    text-transform: capitalize;
    padding: 0 10px;
    margin: 0 5px;
    text-decoration: none;
    color: #c2bdbd;
    opacity: 0.5;
    transition: 0.5s;
}

.link:hover {
    opacity: 1;
}


/* a {
    text-decoration: none;
    color: white;
} */


/* nav {
    flex: 1;
    text-align: center;
} */


/* 
nav ul {
    display: inline-block;
    list-style-type: none;
} */


/* to make menu list horizontal */


/* nav ul li {
    display: inline-block;
    margin-right: 20px;
} */

h3 {
    color: rgb(3, 0, 0);
    margin-left: 30px;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
    font-family: 'Balthazar', serif;
}

.col-2 img {
    max-width: 100%;
    margin-left: 110px;
    /* margin-bottom: 30px; */
    padding: 20px 0px;
    border-radius: 150%;
}

.col-2 h1 {
    font-size: 55px;
    line-height: 60px;
    margin: 25px 0 0 30px;
    /* font-style: italic; */
}

.btn {
    display: inline-block;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.4) 100%);
    color: #ece4e4;
    padding: 8px 30px;
    margin: 30px 0 0 30px;
    border-radius: 30px;
    transition: background 0.5s;
    font-family: 'Balthazar', serif;
}

.btn:hover {
    background: #a17132d7
}

.header {
    background: #D6C6A6;
}

.categories {
    margin: 10px 0;
}

.col-3 {
    flex-basis: 10%;
    min-width: 300px;
    margin-bottom: 70px;
    margin-top: 50px;
    transition: transform 0.5s;
}

.col-3 img {
    width: 100%;
    float: left;
}

.col-3:hover {
    transform: translateY(-15px);
}

.smallcontainer {
    max-width: 1080px;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
}

.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img {
    float: left;
    width: 100%;
}

.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: rgb(141, 4, 4);
}

.title::after {
    content: '';
    background: #ff933b;
    width: 80px;
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

h4 {
    font-weight: bold;
}

.col-4 {
    font-size: 16px;
}

.col-4:hover {
    transform: translateX(-15px);
}

.footer {
    background: #D6C6A6;
    color: rgb(0, 0, 0);
    font-size: 15px;
    padding: 1px;
    width: 100%;
    
}

.footer h3 {
    color: #0c0801;
    margin-bottom: 20px;
}

.footer h1 {
    color: #0c0801;
    margin-bottom: 30px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3 {
    min-width: 200px;
    margin-bottom: 20px;
}

.footer-col-1 {
    flex: 1;
    text-align: center;
}

.footer-col-1 img {
    width: 10px;
    margin-bottom: 20px;
}

.footer-col-2,
.footer-col-3 {
    flex-basis: 12%;
    text-align: center;
}

ul {
    list-style-type: none;
}

.footer hr {
    border: none;
    background: #0c0801;
    height: 0.5px;
    margin: 20px 0;
}

.copyright {
    text-align: center;
}
.col-5 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-5 img {
    float: left;
    width: 100%;
}
.col-5 {
    font-size: 16px;
}

.col-5:hover {
    transform: translateX(-15px);
}

.col-6 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding-bottom: 10px;
}

.col-6 h4{
    text-align: center;
    font-size: large;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding-top: 40px;

}
.col-9 {
    text-align: center;
    font-size: medium;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
}
.col-7 {
    font-family: 'Amrita',cursive;
}
/*.col-6 {
    flex-basis: 1%;
    padding: 1px;
    min-width: 10px;
    margin-bottom: 10px;
    transition: transform 0.5s;

}*/
.craft{
        text-align: center;
        margin: 0 auto 80px;
        position: relative;
        line-height: 50px;
        color: rgb(141, 4, 4);
}

.craft::after {
    content: '';
    background: #ff933b;
    width: 80px;
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}
.col-6 :hover{
    transform: translateX(-15px);
}

.col-7{
    font-family:'Amita', cursive;
    font-size: large;
    font-weight: bold;
    text-align: center;
    color:maroon;
}
.col-8 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-8 img {
    float: left;
    width: 100%;
}
.col-8 {
    font-size: 16px;
}

.col-8:hover {
    transform: translateX(-15px);
}